<% content_for :head do %>
  <meta property="og:title" content="<%= music.name %> - <%= music.artist %>">
  <meta property="og:description" content="Links to <%= music.name %> by <%= music.artist %> on Apple Music, Soundcloud, Spotify, Tidal, and YouTube Music">
  <meta property="og:url" content="https://www.beatnikapp.com/music/<%= music.id %>">
  <meta property="og:image" content="<%= music.artwork %>">

  <meta name="description" content="Links to <%= music.name %> by <%= music.artist %> on Apple Music, Soundcloud, Spotify, Tidal, and YouTube Music">
  <title><%= music.name %> by <%= music.artist %> on Beatnik</title>
<% end %>

<%= render "shared/search_bar" %>
<div class="flex-row music-container">
  <div class="flex-row col-100">
    <div class="flex-col">
      <h2 class="music-info"><%= music.name %></h2>
      <h3 class="music-info"><%= music.artist %></h3>
      <% if music.album.present? %>
        <h3 class="music-info"><%= music.album %></h3>
      <% end %>
    </div>
  </div>
  <div class="flex-row col-100">
    <div class="flex-row col-50">
      <img class="artwork" src="<%= music.artwork %>" alt="Album cover" />
    </div>
    <div class="flex-row col-50">
      <div class="flex-col">
        <ul>
          <% if music.apple_url.present? %>
            <li>
              <a class="flex-row music-button" href="<%= music.apple_url %>" target="_blank">
                <div class="service-logo-container">
                  <img alt="Apple Music" class="service-logo" src="/images/apple_logo.png" />
                </div>
                <div class="service-description">
                  Apple Music
                </div>
              </a>
            </li>
          <% end %>
          <% if music.soundcloud_url.present? %>
            <li>
              <a class="flex-row music-button" href="<%= music.soundcloud_url %>" target="_blank">
                <div class="service-logo-container">
                  <img alt="Soundcloud" class="service-logo" src="/images/soundcloud_logo.png" />
                </div>
                <div class="service-description">
                  Soundcloud
                </div>
              </a>
            </li>
          <% end %>
          <% if music.spotify_url %>
            <li>
            <a class="flex-row music-button" href="<%= music.spotify_url %>" target="_blank">
              <div class="service-logo-container">
                <img alt="Spotify" class="service-logo" src="/images/spotify_logo.png" />
              </div>
              <div class="service-description">
                Spotify
              </div>
            </a>
          </li>
        <% end %>
        <% if music.tidal_url.present? %>
          <li>
            <a class="flex-row music-button" href="<%= music.tidal_url %>" target="_blank">
              <div class="service-logo-container">
                <img alt="Tidal" class="service-logo" src="/images/tidal_logo.png" />
              </div>
              <div class="service-description">
                Tidal
              </div>
            </a>
          </li>
        <% end %>
        <% if music.ytm_url.present? %>
          <li>
            <a class="flex-row music-button" href="<%= music.ytm_url %>" target="_blank">
              <div class="service-logo-container">
                <img alt="YouTube Music" class="service-logo" src="/images/ytm_logo.png" />
              </div>
              <div class="service-description">
                Youtube Music
              </div>
            </a>
          </li>
        <% end %>
        <% if rated %>
          <li>
            <div class="flex-row">Thank you! We appreciate your feedback.</div>
          </li>
        <% else %>
          <li>
            <%= form_with url: "/music/#{music.id}/ratings", class: "flex-row" do |form| %>
              <fieldset class="rating-group flex-row">
                <legend>Did we get it right?</legend>
                <div class="m-col-50 radio-group">
                  <label><input type="radio" name="rating" value="1">Yes</label>
                  <label><input type="radio" name="rating" value="-1">No</label>
                </div>
                <div class="m-col-50">
                  <input class="rating-button" type="submit" value="Submit Feedback">
                </div>
              </fieldset>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
